@charset "UTF-8";

body {
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header_all {
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 500;
}

.header_inner {
  width: 90%;
  margin: 0 auto;
  height: 120px;
}

.header_nav ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.header_nav ul li {
  display: table-cell;
}
.header_nav ul li a {
  display: block;
  margin: 25px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.header_nav ul li a:hover {
  color: #888;
  border-bottom: solid 2px #25315C;
}

.header_nav ul li a span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}

footer {
  background: #F0F0F0;
  text-align: center;
  padding-top: 50px;
  margin-top: 100px;
}

footer h2 {
  font-size: 30px;
}

footer p {
  font-size: 12px;
}

footer p strong {
  font-size: 20px;
}

.footer_sns {
  display: flex;
  justify-content: center;
}

.sns_icon {
margin: 10px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}