@charset "UTF-8";

.top_all {
  position: relative;
  top: 100px;
  width: 100%;
  background: url("../img/ホーム・予約.jpg") no-repeat center;
  height: 400px;
  z-index: 3;
  padding-top: 100px;
}

.top_inner{
  padding-top: 200px;
  padding-left: 80px;
}
.top_inner h1 {
  color: #fff;
  font-size: 50px;
}

.top_inner p {
  color: #fff;
  font-size: 20px;
}

.wrap {
  padding-top: 250px;
}

.wrap_top {
background-color: #E9EEFF;
padding: 20px;
}

.wrap_list {
  display: flex;
  align-items:center;
  justify-content:center;
  margin: 100px;
}

.wrap_list:nth-child(even) {
  flex-direction: row-reverse;
  margin: 100px;
}



.wrap_list h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 0.8;
  padding-top: 20px;
  padding-left: 20px;
}

.wrap_list h1 small {
  font-size: 12px;
  color: #25315C;
}

.wrap_list p {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 2
}

.wrap_item1 {
  display: flex;
  width: 90%;
  height: auto;
}

.wrap_item2 {
  width: 40%;
  background-color: #fff;
  margin: 100px 40px;
}

.btn {
  border: 1px solid #333;
  float: right;
  width: 26%;
  text-align: center;
  background: #fff;
  padding: 10px 20px;
  margin: 0 17% 8% 0;
}

.map {
text-align: center;
padding: 100px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}