@charset "UTF-8";

.box {
  position: relative;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 99%;
  background-color: rgba(50, 50, 50, 0.2);
}

.box h1 {
  position: absolute;
  color: #fff;
  bottom: 10%;
  left: 10%;
  font-size: 50px;
  line-height: 0.5;
  font-weight: bold;
}

.box h1 small {
  font-size: 20px;
}

.box img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.box_txt p {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.sightseeing {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.inner {
 text-align: center;
 width: 30%;
 height: auto;
 margin: 20px;
 -webkit-box-shadow: 10px 10px 20px #ddd;
 box-shadow: 10px 10px 20px #ddd;
 -webkit-transition: 0.4s;
 transition: 0.4s;
}

.section_ttl {
  font-size: 20px;
  font-weight: bold;
}

.section_ttl small {
  font-size: 13px;
  color: pink;
}
.inner img {
  width: 150px;
}

.btn {
  text-align: center;
  padding: 15px;
  background-color: #25315C;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto 10px;
}

.btn:hover {
  opacity: 0.5;
}

.btn a {
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .inner {
    margin: 10px auto;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
  .box img {
    height: auto;
  }

  .sightseeing {
  display: block;
  }

  .inner {
    width: 90%;
    padding-bottom: 20px;
  }

  .box_txt span {
    display: block;
  }
}